<template name="share">
    <div class="cptCnt">
        <div class="ftr" style="margin:auto;">
            <div class="row">
                <div class="col-md-3"><img class="img-responsive soc" src="pix/dwnld.png"></div>
                <div class="col-md-3">
                    <a href="https://twitter.com/share?url=http://res.cloudinary.com/sargent/image/upload/v1447967587/stff3ranqkxbjfvccqao.jpg" target="_blank">
                        <img class="img-responsive soc" src="pix/twtr.png">
                    </a>
                    </div>
                <div class="col-md-3">
                    <a href="http://www.facebook.com/sharer.php?u=http://r2y.herokuapp.com.com" target="_blank">
                        <img class="img-responsive soc" src="pix/fbook.png" alt="Facebook">
                    </a>
                    </div>
                <div class="col-md-3"><img class="img-responsive soc" src="pix/insta.png"></div>
                
            </div>
        
        </div>    
        
    
        
</div>
</template>