<template name="share">
    <div class="container-fluid mainBg">
    <div class="cptCnt share" id="shrDiv">
            <img class="back img-responsive " src="pix/back.png">

    <div class="col-md-3 soc" id="dlIcon">
                <a id="dwnld" href="{{link}}" download="MyR2YPoster.jpg"><img class="img-responsive soc" src="pix/dwnld.png"></a></div>
        <div class="ftr" style="margin:auto;">
            <div class="row">
                
                    {{>shareit shareData}}
	                <div class="posIm" id="posIm">
	                 <img src="{{poster}}" class="img-responsive" id="finalPoster"/>

	                </div>
                
            </div>
        
        </div>    
        
        </div>
</div>
</template>