.share{background:none;}
.soc{width:44%!important;}
.share .back{position: absolute;top: 36%;left: 4px;}
#svdImg{position:relative;z-index:-1;bottom:175px;width:100%;height:100%;}


@media screen and (max-width:992px){
    #svdImg{
        top:-88px;
        bottom:90px;
    }
}

.share-buttons a{margin:7px 20px;width:40px;}

svg {
	position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#finalPoster {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 515px;
    width: 365px!important;
}

.share-buttons {
    display:inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index:99;
}
#dlIcon {
    display:inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0%;
    margin: 0 auto;
    z-index:99;
    cursor:pointer;
}

#dlIcon a{margin:7px 20px;width:40px;}

.back {
    z-index: 100;
}

#dwnld img {
    margin: 0 auto;
}