<template name="share">
    <div class="cptCnt share" id="shrDiv">
        <div class="ftr" style="margin:auto;">
            <div class="row">
                <div class="col-md-3"><a id="dwnld" download="MyR2YPoster.jpg"><img class="img-responsive soc" src="pix/dwnld.png"></a></div>
                    {{>shareit shareData}}
                <div class="col-md-3"><img class="img-responsive soc" src="pix/insta.png"></div>

                
            </div>
        
        </div>    
        <img class="back img-responsive" src="pix/back.png">
        
</div>
</template>