<template name="confirm">
    <div class="cptCnt conf">
            <img class="delete img-responsive" src="pix/delete.png" data-toggle="modal" data-target="#delMod">
            <img class="accept img-responsive" src="pix/check.png" data-toggle="modal" data-target="#accMod">
            <img class="retake img-responsive" src="pix/retake.png" data-toggle="modal" data-target="#reMod">

    <div class="posIm">

        {{#if isAndroid}}
        <img src="{{link}}" class="rotate90 andFace urFace img-responsive" id="userImage"/>
        {{else}}

        {{#if isIOS}}
        <img src="{{link}}" class="rotate90R urFace img-responsive" id="userImage"/>
        {{else}}

        <img src="{{link}}" class="urFace img-responsive" id="userImage"/>

        {{/if}}
        {{/if}}




        <img src="pix/r2yPosterS.png" class="img-responsive urPos">
        <input type="text" name="uName" class="uName" placeholder="ENTER YOUR NAME HERE" autofocus>
        </div>
        
</div>
    
<!-- Modal -->
<div id="delMod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Poster?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your poster?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" id="posDel">Delete</button>
      </div>
    </div>

  </div>
</div>
    
<!-- Modal -->
<div id="reMod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Retake Picture?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to retake your picture?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" id="posRe">Retake</button>
      </div>
    </div>

  </div>
</div>
    
<!-- Modal -->
<div id="accMod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">All Done!</h4>
      </div>
      <div class="modal-body">
        <p>Poster added to the Gallery! Share it on the next page!</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
    
<!-- Modal -->
<div id="naMod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wait o!</h4>
      </div>
      <div class="modal-body">
        <p>Abeg enter your name. Or abi you no wan shine?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok o!</button>
      </div>
    </div>

  </div>
</div>
</template>