.conf{background:none;}
.accept{width:40px !important;left:45%;margin-top:12px;cursor:pointer;position:absolute;}
.conf .delete,.retake,.accept{z-index:3;width:25px;}
.uName{background-color:transparent;border:none;color:#fff;text-align:center;height:33px;width:50%;position:absolute;top:45%;right:25%;text-transform:uppercase;font-size:13px;z-index:2;}
.urPos{position:absolute;z-index:2;bottom:88px;}
.urFace {
    transform: scale(0.9);
    position: relative;
    z-index:1;
    top:65px;
    opacity:0.4;
    margin:0 auto;
}
.posIm{max-height:516px;}
@media (orientation: portrait) {
    .uName{top:42%;}
    
}
@media screen and (max-width: 350px){
    .urPos{bottom:230px;}
    .uName{top:32%;}
}
@media screen and (min-width:400px) and (max-width:420px){
    .urPos{bottom:121px !important;}
    .face{top:60px;}
}
@media screen and (max-width: 992px){
    .ftr .col-md-3 {padding:0 4px;}
    ::-webkit-input-placeholder{font-size:10px;}:-moz-placeholder{font-size:10px;}::-moz-placeholder{font-size:10px;}:-ms-input-placeholder{font-size:10px;}
}

/*Android*/
.andFace {
	top:13em!important;
}