<template name="confirm">

    <div class="cptCnt conf">
            <img class="delete img-responsive" src="pix/delete.png" data-toggle="modal" data-target="#delMod">
            <img id="confirm" class="accept img-responsive" src="pix/check.png" data-toggle="modal" data-target="#accMod">
            <img class="retake img-responsive" src="pix/retake.png" data-toggle="modal" data-target="#reMod">
            <button id="rotatePoster">Rotate</button>

    <div id=" svgHome">
        <div class="posIm" id="posIm">
            
            {{#if isAndroid}}
            <img src="{{link}}" class="rotate90 urFace img-responsive" id="userImage"/>
            {{else}}

            {{#if isIOS}}
            <img src="{{link}}" class="urFace img-responsive" id="userImage"/>
            
            {{else}}

            <img src="{{link}}" class="urFace img-responsive" id="userImage"/>

            {{/if}}
            {{/if}}


            <img src="pix/r2yPosterS.png" id="bgPoster" class="img-responsive urPos">
            <input type="text" id="uName" name="uName" class="uName" placeholder="ENTER NAME">
        </div>
    </div>
        
</div>


<div id="posterPng"> </div>


<canvas id="canvas3" style="width=365;height=515"></canvas>
<canvas id="canvas2" style="width=365;height=515"></canvas>
<canvas id="canvas" style="width=365;height=515;"></canvas> <!-- 565px -->

<script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script> 
<script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
<script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script> 
    <script type="text/javascript">

      window.onload = function() {


        jQuery.fn.clnUp = function() {
           textNodes = this.contents().filter(
               function() { return (this.nodeType == 3 && !/\S/.test(this.nodeValue)); })
               .remove();
           return this;
        }     
          //This code is to hide the input and displays span before screenshot is taken  
          /*
        $('.uName').focusout(function(){
                var urName =document.getElementById('uName').value;//
            $('#urName').html(urName).css('z-index',2);
            });
*/
        
        var uStyle = "<style>#urName,.uName{background-color:transparent;border:none;color:#f8f8f8;text-align:center;height:33px;width:50%;position:absolute;top:55%;right:23%;text-transform:uppercase;font-size:21px;z-index:2;font-weight:700;font-family:Brandon;}#urName{z-index:1}.urPos{position:absolute;z-index:2;bottom:0!important;right:0;top:0;left:0}.urFace{transform:scale(.9);position:relative;z-index:1;top:85px;left:0%;opacity:.6;margin:0 auto}</style>";
          $('#posIm').prepend(uStyle).clnUp();
        var clnIm = document.getElementById('posIm').outerHTML.replace(/<\/?script\b.*?>/g, "");

        $('#confirm').on('click',function(){
          if (Session.get('setSvg') == true) {
            //$('svg').show();
            //Do not re print svg
          } else {
            var svg = d3.select(".cptCnt").append("svg")
            .attr("width", 425)
            .attr("height", 575);
          svg.append("foreignObject")
            .attr("width", 425)
            .attr("height", 575)
            .html(clnIm);
            Session.set('setSvg',true);
            Session.set('svgCtr',1);
            //$('.uName').css('z-index',21);

          }
          });
        //var imgPng = svgToPng();
        //console.log(imgPng);
   }
            
            </script>

<!-- Modal -->
<div id="delMod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Poster?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your poster?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" id="posDel">Delete</button>
      </div>
    </div>

  </div>
</div>
    
<!-- Modal -->
<div id="reMod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Retake Picture?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to retake your picture?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" id="posRe">Retake</button>
      </div>
    </div>

  </div>
</div>
    
<!-- Modal -->
<div id="accMod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">All Done!</h4>
      </div>
      <div class="modal-body">
        <p>Poster added to the Gallery! Share it on the next page!</p>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" id="posOk" data-dismiss="modal">Ok</button>

      </div>
    </div>

  </div>
</div>
    
<!-- Modal -->
<div id="naMod" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wait o!</h4>
      </div>
      <div class="modal-body">
        <p>Please capture a picture</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok o!</button>
      </div>
    </div>

  </div>
</div>
</template>