/* Is it me you're looking for...? */

body {
    max-width:90%;
    margin: 0 auto;
    background: url('pix/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family:Montserrat;
}



.posterBg {
    margin: 20px 20px;
    height: 280px;
    width:200px;
    background-image: url('pix/pos1.jpg');
     background-size: 200px 280px;
    background-repeat:no-repeat;
    display: inline-block;
    float: left;
    position: relative;

}

.posterBg .userImage {
    position: absolute;
    top:16%;
    left:25%;
    opacity:0.1;
}

.posterBg .vignette{
    position: absolute;
    top: 16%;
    left: 25%;
    width: 100px;
    height: 100px;
    z-index: 21;
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

