/* Is it me you're looking for...? */
@font-face{font-family:Brandon;src:url(fonts/Brandon_reg.otf);font-weight:400;}
@font-face{font-family:Brandon;src:url(fonts/Brandon_bld.otf);font-weight:800;}
body {
    max-width:90%;
    margin: 0 auto;
    background: url('pix/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family:Brandon;
}

.posterBg {
    margin: 20px 20px;
    height: 280px;
    width:200px;
    background-image: url('pix/r2yPoster_s.jpg');
     background-size: 200px 280px;
    background-repeat:no-repeat;
    display: inline-block;
    float: left;
    position: relative;
    box-shadow: 4px 4px 21px rgba(0,0,37,0.2);

}

.posterBg .userImage {
    position: absolute;
    top:16%;
    left:25%;
    opacity:0.4;
}

.posterBg .vignette{
    position: absolute;
    top: 16%;
    left: 25%;
    width: 100px;
    height: 100px;
    z-index: 21;
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.img-responsive{}
