<template name="capture">
    <div class="cptCnt">
            <img class="back img-responsive" src="pix/back.png">

    <div class="row face">
        <p id="fakeTap">TAP TO CAPTURE</p>
        <form class="uploadForm">
            <input type="file" name="pic" class="myFileInput" accept="image/*" capture="camera">
        </form>

        </div>
   
</div>
   <script>
    $('.retake').on('click',function(){
        html2canvas($('.cptCnt'), {
            onrendered: function(canvas) {
                canvas.setAttribute("id", "canvas");
                document.body.appendChild(canvas);
            }
        });//this all works, the canvas appears as expected

        //var myCanvas = $(document).find('#canvas');
        //myCanvas.css("margin-left", "50px");
        //var myImg = myCanvas.get(0).toDataURL();
        });
    </script>
</template>