<template name="capture">
    <div class="cptCnt container-fluid">
        <div class="row">
            <div class="col-md-2"><img class="cancel img-responsive" src="pix/cancel.png"></div>
            <div class="col-md-2 col-md-offset-8" style="text-align:right;"><img class="retake img-responsive" src="pix/retake.png"></div>
        </div>

    <div class="row face">
        <p id="fakeTap">TAP TO CAPTURE</p>
        <form class="uploadForm">
            <input type="file" name="pic" class="myFileInput" accept="image/*">
        </form>

        </div>
</div>
    <script>$('#fakeTap').click(function(e) {
    e.preventDefault();
    $('.myFileInput').trigger('click');   
});</script>
</template>