.cptCnt{height:90%;width:90%;margin:auto;padding:25px;max-width:525px;max-height:800px;min-height:800px;background:url(pix/pos1.jpg) no-repeat center;}
.retake,.cancel{width:44px;margin:25px auto;}
.face{background:url(pix/face.png) no-repeat center;height:260px;}
.myFileInput{display:none !important;}
#fakeTap{font-weight:bold;color:#000;font-size:2vw;text-align:center;position:relative;top:100px;cursor:pointer;}