.cptCnt{height:600px;width:90%;margin:10px auto 0;max-width:365px;min-height:450px;;background:url(pix/r2yPosterS.png) no-repeat center;background-size:100%;position:relative;}
@media screen and (max-width: 500px){.cptCnt{height:600px;}}
.retake,.cptCnt .delete,.back{cursor:pointer;position:absolute;}
.delete{width:30px;left:2%;margin-top:21px;}
.back{width:45px;left:45%;margin-top:10px;}
.retake{width:30px;right:2%;margin-top:21px;}

.face{background:url(pix/face.png) no-repeat center;height:260px;margin:auto;text-align:center;background-size:100%;position:relative;top:70px;}
.myFileInput{display:none !important;}
#fakeTap{font-weight:bold;color:#000;font-size:25px;position:relative;top:100px;cursor:pointer;}
.ftr{margin:70% auto 0;position:relative;}
@media screen and (max-width: 992px){.ftr .col-md-3{display:inline-block;}.ftr img{width:50% !important;}}
.ftr .col-md-3{text-align:center;}
.ftr .row{text-align:center;}
.ftr img{width:40%;cursor:pointer;margin:35% auto;}



/*Placeholder Hack Tings*/
::-webkit-input-placeholder{color:#bebebe;}:-moz-placeholder{color:#bebebe;}::-moz-placeholder{color:#bebebe;}:-ms-input-placeholder{color:#bebebe;}
:focus{outline-color:#bebebe}