.userImage {
	max-width: 200px;
    transform: scale(0.9);
    position: relative;
    z-index: 1;
    height:150px;
    top:25px;
    -webkit-filter: contrast(200%) brightness(200%) opacity(44%) saturate(200%);
}

.vignettePoster {
	z-index: 2;
    position: relative;
    top:-176px;
}
.deletePoster{z-index:3;position:relative;}
#posterBg{max-height:420px;}