.userImage {
	max-width: 200px;
    transform: scale(0.9);
    position: relative;
    z-index: 1;
    height:150px;
    top:25px;
}

.vignettePoster {
	z-index: 2;
    position: relative;
    top:-176px;
}
.deletePoster{z-index:3;position:relative;}
.posterBg{height:350px;}