.userImage {
	width: 200px;
    transform: scale(0.9);
    position: relative;
    left: 10px;
    z-index: 1;
}

.vignettePoster {
	z-index: 2;
    position: relative;
    top:-176px;
}
.deletePoster{z-index:3;position:relative;}