.galCap{text-align:center;display:flex;height:100px;}
.galCap div{font-size:2.1em;margin:0 auto;}
.galCap div:first-child{color:#fff;}
.galCap hr{background-color:#fff;color:#fff;-webkit-transform:rotate(90deg);width:30px;height:2px;position:relative;}
.galCap a{text-decoration:none;color:#939598;}
.posters{}
#newPost{background-color:rgb(142,145,152);border-radius:0;color:#fff;height:40px;border:none;box-shadow: 4px 4px 21px rgba(0,0,37,0.2);}
#newPost span{margin-right:5px;}
.storedImage {float:left;}


@media screen and (max-width: 350px){
    .galCap div:first-child{font-size:1.7em;}
}

.rotate90.rotate90 {
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
.rotate90.rotate180 {
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
.rotate180 {
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
.rotate270 {
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}

#userImage {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
}
#userImage.rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
#userImage.rotate180 {
    transform: rotate(180deg) translate(-100%,-100%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
#userImage.rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}
