<template name="home">
    <div class="galCap">
        <div>GALLERY</div>
        <hr>
        <div style="text-align:center;max-width:80%;">
            <button class="btn btn-default btn-raised" id="newPost"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>CREATE</button>
        </div>
    </div>
    <script type="text/javascript">
    $(function() {
        console.log("drag");
        $("storedImage").draggable();
    });
    </script>


<div class="posters">
        {{#each pics}}
			<div> <img class="storedImage" src={{image}} onclick='$(this).remove()'/></div>
        {{/each}}

</div>
    
    <script>$(function(){$('.posters').slimScroll({height:'600px'});});</script>
    
    
</template>
